.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media(min-width: 768px) {
      justify-content: space-between;
    }
  }
}
