.collection-item {
  display: flex;
  flex-direction: column;
  height: 400px;
  margin-bottom: 20px;
  align-items: center;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  transition: box-shadow .1s ease-in-out;
  box-shadow: 0 0 0.5em rgba(0,0,0,0.3);
  
  &:hover {
    box-shadow: 0 0 1em rgba(0,0,0,0.3);
  }

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    border-radius: 6px 6px 0 0;
  }

  .custom-button {
    width: calc(100% - 40px);
    margin-bottom: 20px;
  }

  .collection-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 20px;

    @media(min-width: 575px) {
      flex-direction: row;
    }

    .name {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .price {
      color: #B12704;
      font-weight: bold;
    }
  }
}
