.sign-in {

  .title {
    margin: 10px 0;
  }

  .buttons {
    justify-content: space-between;

    @media(min-width: 450px) {
      display: flex;
    }

    .custom-button {
      margin-bottom: 20px;
    }
  }
}
