.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f8f9fa;
  top: 75px;
  right: 40px;
  z-index: 5;
  border: 1px solid #cccccc;
  border-top: 0;

  .empty-message {
    font-size: 18px;
    margin: 15px auto;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}
