.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 32px;
    height: 32px;
  }

  .item-count {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    bottom: 10px;
  }
}
