@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Roboto', sans-serif;
  padding: 20px 15px;
  font-weight: 300;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.container-fluid {
  max-width: 1440px;
}

.app_body {
  padding-top: 95px;
}